<p>{{cartId}}</p>
<table id="main" role="grid">
  <tr>
    <th>ID</th>
    <th>Título</th>
    <th>Descripción</th>
    <th>Código</th>
    <th>Categoría</th>
    <th>Stock</th>
    <th>Precio</th>
    <th>Cantidad</th>
    <th>Eliminar cantidad</th>
  </tr>
  {{#each products}}
  <tr>
    <td>{{this.product._id}}</td>
    <td>{{this.product.title}}</td>
    <td>{{this.product.description}}</td>
    <td>{{this.product.code}}</td>
    <td>{{this.product.category}}</td>
    <td>{{this.product.stock}}</td>
    <td>{{this.product.price}}</td>
    <td>{{this.quantity}}</td>
    <td>
      <input type="number" class="quantity-input" value="1" min="1" max="{{this.quantity}}">
      <button class="remove-quantity-button" data-product-id="{{this.product._id}}" id="product-link">Eliminar</button>
    </td>
  </tr>
  {{/each}}
</table>

<button id="remove-all-button" data-cart-id="{{cartId}}">Eliminar todo el carrito</button>
<a href="{{cartId}}/purchase" class="btn btn-danger" data-cart-id="{{cartId}}" id="cart-link">Terminar Compra</a> 
<a href="/api/products" class="btn btn-danger">Volver a Inicio</a> 

<script src="/js/carts.js"></script>