<header>
  <article>
    <h1>Perfil</h1>
    <span id="profile-span"></span>
    <a href="/api/logout" class="btn btn-danger">Cerrar sesión</a>
  </article>
</header>

<h1>PRODUCTOS</h1>
<a id="cart-link" href="/api/carts/{{cartId}}" data-cart-id="{{cartId}}" class="btn btn-danger">Ir Al Carrito</a>
<a id="product-link" data-cart-id="{{cartId}}" class="btn btn-create">Agregar Nuevo Producto</a>
<a id="user-link" href="/api/users/" class="btn btn-danger">Ir a usuarios</a>


<div id="new-product-form" style="display: none;">
  <h2>Agregar Nuevo Producto</h2>
  <form id="add-product-form">
    <!-- Agrega campos de entrada para los detalles del producto -->
    <label for="title">Título:</label>
    <input type="text" id="title" name="title" required><br>
    <label for="description">Descripcion:</label>
    <input type="text" id="description" name="description" required><br>
    <label for="category">Categoria:</label>
    <input type="text" id="category" name="category" required><br>
    <label for="price">Precio:</label>
    <input type="number" id="price" name="price" required><br>
    <label for="stock">Stock:</label>
    <input type="number" id="stock" name="stock" required><br>
  
    <!-- Agrega más campos aquí según sea necesario -->
    <button type="submit" class="btn btn-primary">Agregar Producto</button>
  </form>
</div>


<table id="main" role="grid">
  <tr>
    <th>Titulo</th>
    <th>Descripcion</th>
    <th>Code</th>
    <th>Categoria</th>
    <th>Stock</th>
    <th>Precio</th>
    <th>cantidad</th>
    <th>Acción</th>
  </tr>

  {{#each payload}}
  <tr>
    <td>{{this.title}}</td>
    <td>{{this.description}}</td>
    <td>{{this.code}}</td>
    <td>{{this.category}}</td>
    <td>{{this.stock}}</td>
    <td>{{this.price}}</td>
    <td>
      <input type="number" id="quantity-{{this._id}}" value="1" min="1" max="{{this.stock}}">
    </td>
    <td>
      <button data-code="{{this._id}}" class="btn btn-primary add-to-cart">Agregar al carrito</button>
    </td>
  </tr>
  {{/each }}
</table>

<p>Pagina Actual: {{page}}</p>
<a href="{{prevLink}}" role="button" {{#unless hasPrevPage}} disabled {{/unless}}>Anterior</a>
<a href="{{nextLink}}" role="button" {{#unless hasNextPage}} disabled {{/unless}}>Siguiente</a>

<script src="/js/profile.js"></script>