<header>
  <article>
    <h1>Perfil</h1>
    <span id="profile-span"></span>
    <a href="/api/logout" class="btn btn-danger">Cerrar sesión</a>
  </article>
</header>

<h1>PRODUCTOS</h1>
<a id="cart-link" href="/api/carts/{{cartId}}" data-cart-id="{{cartId}}" class="btn btn-danger">Ir Al Carrito</a>
<table id="main" role="grid">
  <tr>
    <th>Titulo</th>
    <th>Descripcion</th>
    <th>Code</th>
    <th>Categoria</th>
    <th>Stock</th>
    <th>Precio</th>
    <th>cantidad</th>
    <th>Acción</th>
  </tr>

  {{#each payload}}
  <tr>
    <td>{{this.title}}</td>
    <td>{{this.description}}</td>
    <td>{{this.code}}</td>
    <td>{{this.category}}</td>
    <td>{{this.stock}}</td>
    <td>{{this.price}}</td>
    <td>
      <input type="number" id="quantity-{{this._id}}" value="1" min="1" max="{{this.stock}}">
    </td>
    <td>
      <button data-code="{{this._id}}" class="btn btn-primary add-to-cart">Agregar al carrito</button>
    </td>
  </tr>
  {{/each }}
</table>

<p>Pagina Actual: {{page}}</p>
<a href="{{prevLink}}" role="button" {{#unless hasPrevPage}} disabled {{/unless}}>Anterior</a>
<a href="{{nextLink}}" role="button" {{#unless hasNextPage}} disabled {{/unless}}>Siguiente</a>

<script src="/js/profile.js"></script>