<header>
<article>
  <h1>Perfil</h1>
  <span id="profile-span"></span>
  <a href="/api/logout" class="btn btn-danger">Cerrar sesión</a>  
</article>
</header>

<h1>PRODUCTOS</h1>
<a href="/api/carts/{{cartId}}" class="btn btn-danger">Ir Al Carrito</a> 
<table id="main" role="grid">
  <tr>
    <th>Titulo</th>
    <th>Descripcion</th>
    <th>Code</th>
    <th>Categoria</th>
    <th>Stock</th>
    <th>Precio</th>
    <th>Acción</th> 
  </tr>

  {{#each payload}}
  <tr>
    <td>{{this.title}}</td>
    <td>{{this.description}}</td>
    <td>{{this.code}}</td>
    <td>{{this.category}}</td>
    <td>{{this.stock}}</td>
    <td>{{this.price}}</td>
    <td>
     <button data-code="{{this._id}}" class="btn btn-primary">Agregar al carrito</button>
    </td>
  </tr>
  {{/each }}
</table>

<p>Pagina Actual: {{page}}</p>
<a href="{{prevLink}}" role="button" {{#unless hasPrevPage}} disabled {{/unless}}>Anterior</a>
<a href="{{nextLink}}" role="button" {{#unless hasNextPage}} disabled {{/unless}}>Siguiente</a>

<script src="/js/profile.js"></script>
<script src="/js/products.js"></script>