<article>

  <h1>Perfil</h1>
  <p>Nombre: {{user.first_name}}</p>
  <p>Apellido: {{user.last_name}}</p>
  <p>Rol: {{user.role}}</p>
  <p>Email: {{user.email}}</p>
  <a href="/api/logout" class="btn btn-danger">Cerrar sesión</a>  
</article>

<h1>PRODUCTOS</h1>

<table id="main" role="grid">
  <tr>
    <th>Titulo</th>
    <th>Descripcion</th>
    <th>Code</th>
    <th>Categoria</th>
    <th>Stock</th>
    <th>Precio</th>
    <th>Acción</th> 
  </tr>

  {{#each payload}}
  <tr>
    <td>{{this.title}}</td>
    <td>{{this.description}}</td>
    <td>{{this.code}}</td>
    <td>{{this.category}}</td>
    <td>{{this.stock}}</td>
    <td>{{this.price}}</td>
    <td>
     <button data-code="{{this._id}}" class="btn btn-primary">Agregar al carrito</button>
    </td>
  </tr>
  {{/each }}
</table>

<p>Pagina Actual: {{page}}</p>
<a href="{{prevLink}}" role="button" {{#unless hasPrevPage}} disabled {{/unless}}>Anterior</a>
<a href="{{nextLink}}" role="button" {{#unless hasNextPage}} disabled {{/unless}}>Siguiente</a>