<h1>Ticket de Compra</h1>

<div>
 <h4>Código del Ticket es: {{code}}</h4><h5>Fecha: {{purchase_datetime}}</h5>
 <p>Mail de comprado: {{purchaser}}</p>
 
  {{#each ticket.carts}}

    <p>{{this.product}}</p>
    <p>{{this.quantity}}</p>
  
  {{/each}}
 <p>Total: $ {{amount}}</p>
</div>


<a href="/api/products" class="btn btn-danger">Volver a Inicio</a> 